@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700;800&display=swap");
:root {
  --bg-principal:hsl(35, 77%, 62%);
  --bg-secundario:hsl(5, 85%, 63%);
  --Neutral: hsl(36, 100%, 99%);
  --Grayishblue: hsl(233, 8%, 79%);
  --color-secundario: hsl(236, 13%, 42%);
  --color-principal: hsl(240, 100%, 5%); }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  width: 100vw;
  height: 100vh;
  padding: 3vh 15vw;
  font-size: 15px;
  color: var(--color-secundario);
  font-family: 'Inter', sans-serif; }

header {
  width: 70vw;
  height: 11vh; }
  header nav {
    display: flex;
    justify-content: space-between; }
    header nav .nav-menu {
      width: 400px;
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      list-style: none; }
      header nav .nav-menu a {
        text-decoration: none;
        color: var(--color-secundario); }

main {
  height: 80vh;
  width: 70vw; }
  main .upper-section {
    width: 100%;
    display: flex;
    height: 75%; }
    main .upper-section .principal {
      width: 67%;
      padding-right: 1.5em; }
      main .upper-section .principal .img-web {
        width: 100%;
        height: 60%;
        background-image: url("../images/image-web-3-desktop.jpg");
        background-position: center;
        background-size: cover; }
      main .upper-section .principal div {
        padding: 1em 0em;
        display: flex;
        height: 40%; }
        main .upper-section .principal div h1 {
          font-size: 2.8rem;
          width: 50%;
          padding-right: 5rem;
          color: var(--color-principal);
          line-height: 45px; }
        main .upper-section .principal div .parag {
          font-size: .8rem;
          width: 50%;
          display: flex;
          flex-direction: column;
          align-items: baseline;
          justify-content: space-between;
          padding: 0;
          font-size: 14px; }
          main .upper-section .principal div .parag p {
            padding-bottom: 1.5em; }
          main .upper-section .principal div .parag button {
            width: 12em;
            padding: .75em 0em;
            background-color: var(--bg-secundario);
            font-weight: bold;
            color: white;
            font-size: 14px;
            letter-spacing: 5px;
            border: none;
            cursor: pointer;
            text-transform: uppercase; }
    main .upper-section .aside {
      width: 33%;
      background: var(--color-principal);
      padding: 1.5em; }
      main .upper-section .aside h2 {
        font-size: 3em;
        height: 16%;
        color: var(--bg-principal);
        margin-bottom: .2em; }
      main .upper-section .aside div {
        border-bottom: 1px solid var(--color-secundario);
        padding: 1.1em 0em; }
        main .upper-section .aside div h3 {
          color: var(--Neutral);
          font-size: 16px;
          padding-bottom: .5em; }
        main .upper-section .aside div p {
          font-size: 13px; }
        main .upper-section .aside div:last-child {
          border-bottom: none; }
  main .lower-section {
    height: 20%;
    margin-top: 2.5%;
    background: white; }
    main .lower-section .lower-list {
      display: flex;
      justify-content: space-between; }
      main .lower-section .lower-list div {
        display: flex;
        width: 33%; }
        main .lower-section .lower-list div img {
          height: 6.7em; }
        main .lower-section .lower-list div .content {
          display: flex;
          flex-direction: column;
          width: auto;
          padding-left: 1em; }
          main .lower-section .lower-list div .content h3 {
            font-size: 24px; }
          main .lower-section .lower-list div .content h4 {
            color: var(--color-principal); }

.display {
  display: flex !important; }

.close-icon {
  background-image: url("../images/icon-menu-close.svg") !important; }

@media (max-width: 375px) {
  body {
    margin: 0;
    padding: .5em; }
    body header {
      width: 360px;
      height: auto;
      padding: 1em;
      background-color: white;
      margin-bottom: .5em;
      position: fixed;
      top: 0; }
      body header .menu-icon {
        display: block;
        height: 2.7em;
        width: 2.7em;
        background-image: url("../images/icon-menu.svg");
        background-size: cover;
        background-position: center; }
      body header .nav-menu {
        display: none;
        flex-direction: column;
        position: absolute;
        background-color: white;
        border: 0.5px solid var(--color-secundario);
        border-radius: 5px;
        width: 7.5em;
        height: 25em;
        right: 0em;
        top: 4.6em; }
        body header .nav-menu li {
          display: flex;
          align-items: center;
          justify-content: center;
          border-bottom: 0.5px solid var(--color-secundario);
          cursor: pointer;
          width: 100%;
          height: 100%; }
          body header .nav-menu li:hover {
            background-color: var(--color-principal); }
            body header .nav-menu li:hover a {
              color: white; }
          body header .nav-menu li:last-child {
            border-bottom: none; }
    body main {
      width: 100%;
      padding-top: 60px;
      height: auto; }
      body main .upper-section {
        flex-direction: column;
        width: 100%; }
        body main .upper-section .principal {
          display: flex;
          flex-direction: column;
          width: 100%;
          padding-right: 0; }
          body main .upper-section .principal div {
            flex-direction: column;
            padding: 2em 0em; }
            body main .upper-section .principal div h1 {
              width: auto;
              padding: 0em; }
            body main .upper-section .principal div .parag {
              font-size: 16px;
              width: auto;
              line-height: 1.5em;
              padding-top: 1em; }
              body main .upper-section .principal div .parag button {
                font-size: 20px; }
          body main .upper-section .principal .img-web {
            height: 20em;
            background-image: url("../images/image-web-3-mobile.jpg");
            background-position: center;
            background-size: cover; }
        body main .upper-section .aside {
          width: auto; }
          body main .upper-section .aside div {
            padding: 1.3em 0em; }
            body main .upper-section .aside div h3 {
              font-size: 20px; }
            body main .upper-section .aside div p {
              font-size: 17px; }
      body main .lower-section .lower-list {
        flex-direction: column;
        padding: 2em 0em; }
        body main .lower-section .lower-list div {
          width: auto;
          padding: .5em 0em; }
          body main .lower-section .lower-list div img {
            height: 11em; }
          body main .lower-section .lower-list div .content {
            padding: 0.5em 1em;
            justify-content: space-between; }
            body main .lower-section .lower-list div .content h3 {
              font-size: 38px; }
            body main .lower-section .lower-list div .content h4 {
              font-size: 20px; } }

/*# sourceMappingURL=style.css.map */
